.favorites {
    background: var(--white);
    border-radius: 8px;
    border: 1px solid var(--border);
}

.favorites-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.8;
    border-bottom: 1px solid var(--border);
    padding: 10px;
}

.favorites-header > div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.favorites-icon {
    background-color: rgba(39, 105, 77, 0.2);
    border-radius: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites-icon svg {
    fill: none;
    stroke: var(--green);
}

.favorites-header span {
    font-size: 12px;
}

.favorites-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .favorites {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        display: none;
        border-radius: 0;
        z-index: 100;
    }

    .favorites-icon {
        width: 40px;
        height: 40px;
        border-radius: 12px;
    }

    .close-btn {
        display: block;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .favorites-header {
        padding: 10px 20px;
        line-height: 1.4;
    }

    .favorites-header > div {
        gap: 10px;
    }

    .favorites-header span {
        font-size: 14px;
    }
}