@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');

body {
    font-family: var(--font-text);
    font-size: 16px;
    color: var(--text);
    background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
    color: var(--title);
    line-height: 1.2;
}

h1 {
    font-size: 42px;
    font-weight: 600;
}

h2 {
    font-size: 18px;
    font-weight: 600;
}

p {
    color: var(--text);
}